In [84]:
# Consignas Marce Mtz.

# El desafío actual consiste en generar un modelo de regresión logística que 
# permita calcular el grado de accuracy con el cual se pueda determinar, en el grupo de "prueba", 
# quiénes son los sobrevivientes en la tragedia del Titanic.

# a)Describir brevemente la cantidad de valores faltantes para cada una de las variables de la base de datos.
# b)Completar aquellas variables que se encuentran faltantes para las bases de train (“Age”,”fare”, “Cabin”) y test ( “Age”, “Cabin”, “embarked”).
# c)Ajustar el primer modelo de regresión logística.
# d)Entrenar y determinar el nivel de accuracy del primer modelo.

In [85]:
#importacion de liberias y carga de conjunto de datos

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

train_data = pd.read_csv('https://raw.githubusercontent.com/ml008008/Portfolio/main/train(1).csv')
test_data = pd.read_csv('https://raw.githubusercontent.com/ml008008/Portfolio/main/test(1).csv')

In [86]:
# Exploracion de conjunto de datos

print("Train Data:")
print(train_data.head())

Train Data:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [87]:
print("\nTest Data:")
print(test_data.head())

Test Data:
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [88]:
# a)Describir brevemente la cantidad de valores faltantes para cada una de las variables de la base de datos.

In [89]:

# Descripcion de valores faltantes en el dataset de entrenamiento.
print("Missing values in the training data:")
print(train_data.isnull().sum())

Missing values in the training data:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [90]:
#variables con valores faltantes dentro del dataset de entranamiento: Age con 177 , Cabin con 687 y Embarked con 2.

In [91]:

# Descripcion de valores faltantes en conjunto de datos de prueba.
print("\nValores faltantes en conjunto de datos de pruebas:")
print(test_data.isnull().sum())

Valores faltantes en conjunto de datos de pruebas:
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [92]:
#variables con valores faltantes dentro del dataset de prueba: Age con 86 , Fare con 1 y Cabin con 327.

In [93]:
# b)Completar aquellas variables que se encuentran faltantes para las bases de train (“Age”,”fare”, “Cabin”) y test ( “Age”, “Cabin”, “embarked”).

In [94]:
#1.LLenado de valores faltantes del conjunto de datos de entrenamiento

#LLenado de columna  Age con el valor de su media.
train_data['Age'].fillna(train_data['Age'].median(), inplace=True)

/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_7097/1801225079.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['Age'].fillna(train_data['Age'].median(), inplace=True)

In [95]:

# Considerando que la columna de  'Cabin'tiene muchos valores faltantes,he decidio llenarla con un placeholder.
train_data['Cabin'].fillna('Unknown', inplace=True)

# Calculo de valores mas frecuentes dentro de columna Embarked
most_frequent_embarked = train_data['Embarked'].mode()[0]

print('Valor mas frecuente en la columna embarked:', most_frequent_embarked)

# Llenado de valores faltantesde Columna embarked 
train_data['Embarked'].fillna(most_frequent_embarked, inplace=True)

Valor mas frecuente en la columna embarked: S

/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_7097/1348001795.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['Cabin'].fillna('Unknown', inplace=True)
/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_7097/1348001795.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['Embarked'].fillna(most_frequent_embarked, inplace=True)

In [96]:
#2.LLenado de valores faltantes del conjunto de datos de prueba.

# LLenado de valores faltantes para las columnas 'Age', 'Fare','cabin' 
test_data['Age'].fillna(test_data['Age'].median(), inplace=True)
test_data['Fare'].fillna(test_data['Fare'].median(), inplace=True)
test_data['Cabin'].fillna('Unknown', inplace=True)

/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_7097/1968094083.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Age'].fillna(test_data['Age'].median(), inplace=True)
/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_7097/1968094083.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Fare'].fillna(test_data['Fare'].median(), inplace=True)
/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_7097/1968094083.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Cabin'].fillna('Unknown', inplace=True)

In [97]:
# Validacion de llenado de valores faltantes para ambos conjuntos de datos:

print("\nRevision de Valores Faltantes Dentro de Conjunto de Datos de Entrenamiento Despues de su LLenado:")
print(train_data.isnull().sum())
print("\nRevision de Valores Faltantes Dentro de Conjunto de Datos de Prueba Despues de su LLenado:")
print(test_data.isnull().sum())

Revision de Valores Faltantes Dentro de Conjunto de Datos de Entrenamiento Despues de su LLenado:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Revision de Valores Faltantes Dentro de Conjunto de Datos de Prueba Despues de su LLenado:
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [98]:
#Resultados de validacion fueron exitosos (0 valores faltantes para ambos conjuntos de datos).

In [99]:
#Seleccion de variables de prediccion y resultado
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
X = train_data[features]
y = train_data['Survived']

In [100]:
# Conversion de variables categóricas en variables dummies
X = pd.get_dummies(X, drop_first=True)
print(X)

     Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0         3  22.0      1      0   7.2500      True       False        True
1         1  38.0      1      0  71.2833     False       False       False
2         3  26.0      0      0   7.9250     False       False        True
3         1  35.0      1      0  53.1000     False       False        True
4         3  35.0      0      0   8.0500      True       False        True
..      ...   ...    ...    ...      ...       ...         ...         ...
886       2  27.0      0      0  13.0000      True       False        True
887       1  19.0      0      0  30.0000     False       False        True
888       3  28.0      1      2  23.4500     False       False        True
889       1  26.0      0      0  30.0000      True       False       False
890       3  32.0      0      0   7.7500      True        True       False

[891 rows x 8 columns]

In [101]:
# Division de los datos de entrenamiento en conjuntos de entrenamiento y validación.
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [102]:
# c)Ajustar el primer modelo de regresión logística.

# Inicializacion y entrenamiento del modelo de regresión logística.
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)

LogisticRegression(max_iter=200)

In [103]:
# d)Entrenar y determinar el nivel de accuracy del primer modelo.

In [104]:
# Prediccion con el conjunto de validación
y_pred = model.predict(X_val)

In [105]:
# Calculo de la precisión del modelo
accuracy = accuracy_score(y_val, y_pred)
print(f"Model Accuracy: {accuracy:.2f}")

Model Accuracy: 0.81

In [83]:
#Thank You!