In [61]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [62]:

# Load the datasets
train_data = pd.read_csv('https://raw.githubusercontent.com/ml008008/Portfolio/main/train(1).csv')
test_data = pd.read_csv('https://raw.githubusercontent.com/ml008008/Portfolio/main/test(1).csv')

In [63]:

# Display the first few rows of the datasets
print("Train Data:")
print(train_data.head())

Train Data:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [64]:
print("\nTest Data:")
print(test_data.head())

Test Data:
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [65]:

# Check for missing values in the training data
print("Missing values in the training data:")
print(train_data.isnull().sum())

Missing values in the training data:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [66]:

# Check for missing values in the test data
print("\nMissing values in the test data:")
print(test_data.isnull().sum())

Missing values in the test data:
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [67]:

# Fill missing values in the 'Age', 'Fare' columns with the median
train_data['Age'].fillna(train_data['Age'].median(), inplace=True)
train_data['Fare'].fillna(train_data['Fare'].median(), inplace=True)

/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_69363/2736420175.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['Age'].fillna(train_data['Age'].median(), inplace=True)
/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_69363/2736420175.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['Fare'].fillna(train_data['Fare'].median(), inplace=True)

In [78]:

# Since 'Cabin' has many missing values, we'll fill it with a placeholder
train_data['Cabin'].fillna('Unknown', inplace=True)

# Assuming 'train_data' is your DataFrame containing training data
# and 'Embarked' has missing values that need to be filled

# Calculate the most frequent value of 'Embarked'
most_frequent_embarked = train_data['Embarked'].mode()[0]

# Fill missing values in 'Embarked' with the most frequent value
train_data['Embarked'].fillna(most_frequent_embarked, inplace=True)

/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_69363/3334315148.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['Embarked'].fillna(most_frequent_embarked, inplace=True)

In [79]:

# Fill missing values in the 'Age', 'Fare', and 'Embarked' columns in the test set
test_data['Age'].fillna(test_data['Age'].median(), inplace=True)
test_data['Fare'].fillna(test_data['Fare'].median(), inplace=True)
test_data['Cabin'].fillna('Unknown', inplace=True)
test_data['Embarked'].fillna(test_data['Embarked'].mode()[0], inplace=True)

/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_69363/2306226075.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Age'].fillna(test_data['Age'].median(), inplace=True)
/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_69363/2306226075.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Fare'].fillna(test_data['Fare'].median(), inplace=True)
/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_69363/2306226075.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Cabin'].fillna('Unknown', inplace=True)
/var/folders/kc/lmcph3h14hj9vsq6nysrx5vc0000gn/T/ipykernel_69363/2306226075.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Embarked'].fillna(test_data['Embarked'].mode()[0], inplace=True)

In [80]:

# Verify that there are no more missing values
print("\nMissing values in the training data after filling:")
print(train_data.isnull().sum())
print("\nMissing values in the test data after filling:")
print(test_data.isnull().sum())

Missing values in the training data after filling:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Missing values in the test data after filling:
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [81]:

# Select features and target variable
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
X = train_data[features]
y = train_data['Survived']

In [82]:

# Convert categorical variables to dummy variables
X = pd.get_dummies(X, drop_first=True)

In [83]:

# Split the training data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [84]:

# Initialize and train the logistic regression model
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)

LogisticRegression(max_iter=200)

In [85]:

# Make predictions on the validation set
y_pred = model.predict(X_val)

In [86]:

# Calculate the accuracy of the model
accuracy = accuracy_score(y_val, y_pred)
print(f"Model Accuracy: {accuracy:.2f}")

Model Accuracy: 0.81

In [87]:

# Prepare the test data
X_test = test_data[features]
X_test = pd.get_dummies(X_test, drop_first=True)

In [88]:

# Make predictions on the test set
test_predictions = model.predict(X_test)

In [93]:

# Save the results to a CSV file
output = pd.DataFrame({'PassengerId': test_data['PassengerId'], 'Survived': test_predictions})

In [94]:
output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]